
#member_main dl{
    width: 90%;
    margin: 10px auto;
}
#member_main dl dd{
    margin: 5px;
    line-height: 150%;
}
#member_main dl dd input{
    width: 70px;
    height: 24px;
    font-size: 12px;
    cursor: pointer;
}
#member_main .button{
    text-align: center;
}