#register{
    width: auto;
    height: 600px;
    border: 2px solid #ccc;
    font-size: 12px;
}
#register h2{
    text-align: center;
}
#register dl{
    width: 400px;
    margin: 0 auto;
}
#register dl dt{
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
}
#register dl dd{
    margin: 5px 0;
}
#register dl .face{
    padding: 5px 0 5px 120px;
}
#register dl .face img{
    cursor: pointer;
}
#register dl dd .text{
    width: 220px;
    height: 19px;
    border: 1px solid #888;
    background: #fff;
}
#register dl dd .code{
    width: 60px;
}
#register dl dd .submit{
    width: 60px;
    height: 24px;
    background: #bbb;
    border: none;
    cursor: pointer;
    margin: 0 0 0 120px;
    border-radius: 4px;
}
#code{
    position: relative;
    left: 4px;
    top: 5px;
    cursor: pointer;
}
